  * {
    font-family: "Greta Sans Condensed Bold", "Greta Sans Bold", Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container{
    margin: auto;
    width: 1200px;
  }

  .container-fluid{
      width: 100%;
  }

  .row{
    display: flex;
  }